<app-loading [conf]="loading_conf"></app-loading>
<ng-template #nav let-state="state">
    <app-nav class="fixed-topnav" fxHide.gt-xs [user]="state">></app-nav>
</ng-template>
<ng-container *ngTemplateOutlet="nav;context:{state: stateUser}"></ng-container>
<mat-sidenav-container [hasBackdrop]="false" *ngIf="user">
    {{ user.city }}
    <mat-sidenav #appDrawer mode="over" opened="true">
        <mat-nav-list class="mat-nav-list mat-list-base ng-tns-c45-0">
            <app-menu-list [items]="user.modules"></app-menu-list>
        </mat-nav-list>
    </mat-sidenav>
    <ng-container *ngTemplateOutlet="nav;context:{state: stateUser}"></ng-container>
</mat-sidenav-container>
<div style="height: 100vh;">
    <router-outlet></router-outlet>
</div>